<h1 class="mb-1 RL-create-title">編輯餐廳</h1>
<div class="container">
    <form action="/RL_data/{{ RL_data._id }}/edit" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">店名：</label>
            <input type="text" class="form-control" id="name" placeholder="輸入店名" name="name" value="{{ RL_data.name }}">
        </div>

        <div class="mb-3">
            <label for="name_en" class="form-label">英文店名：</label>
            <input type="text" class="form-control" id="name_en" placeholder="輸入英文店名" name="name_en" value="{{ RL_data.name_en }}">
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">分類：</label>
            <input type="text" class="form-control" id="category" placeholder="美式" name="category" value="{{ RL_data.category }}">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">圖片連結：</label>
            <input type="url" class="form-control" id="image" placeholder="輸入圖片網址" name="image" value="{{ RL_data.image }}">
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">地址：</label>
            <input type="text" class="form-control" id="location" placeholder="輸入地址" name="location" value="{{ RL_data.location }}">
        </div>

        <div class="mb-3">
            <label for="phone" class="form-label">電話：</label>
            <input type="tel" class="form-control" id="phone" placeholder="輸入店家電話 06 2345 6789" name="phone" value="{{ RL_data.phone }}">
        </div>

        <div class="mb-3">
            <label for="google_map" class="form-label">Google Map連結:</label>
            <input type="url" class="form-control" id="google_map" placeholder="輸入google map網址" name="google_map" value="{{ RL_data.google_map }}">
        </div>

        <div class="mb-3">
            <label for="rating" class="form-label">評分：</label>
            <input type="number" class="form-control" id="rating" placeholder="輸入評分" name="rating" value="{{ RL_data.rating }}">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">敘述：</label>
            <input type="text" class="form-control" id="description" name="description" value="{{ RL_data.description }}">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success">保存</button>
            <a href="/"><button type="button" class="btn btn-dark">返回</button></a>
        </div>        
    </form>
</div>